<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>BadgeRightMargin</key>
	<integer>10</integer>
	<key>BadgeTopMargin</key>
	<integer>10</integer>
	<key>Control</key>
	<integer>1</integer>
	<key>Custom Color Presets</key>
	<dict>
		<key>Hybrid</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20179691910743713</real>
				<key>Green Component</key>
				<real>0.1818026602268219</real>
				<key>Red Component</key>
				<real>0.1665644645690918</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31569483879999999</real>
				<key>Green Component</key>
				<real>0.30211547020000001</real>
				<key>Red Component</key>
				<real>0.72003227469999997</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1934914291</real>
				<key>Green Component</key>
				<real>0.51726025340000004</real>
				<key>Red Component</key>
				<real>0.47279784079999998</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31311613319999998</real>
				<key>Green Component</key>
				<real>0.53968650100000004</real>
				<key>Red Component</key>
				<real>0.8995583653</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.53338390588760376</real>
				<key>Green Component</key>
				<real>0.420734703540802</real>
				<key>Red Component</key>
				<real>0.29605811834335327</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47512847185134888</real>
				<key>Green Component</key>
				<real>0.31322062015533447</real>
				<key>Red Component</key>
				<real>0.43185719847679138</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45474731922149658</real>
				<key>Green Component</key>
				<real>0.48341637849807739</real>
				<key>Red Component</key>
				<real>0.30198413133621216</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.41454979777336121</real>
				<key>Green Component</key>
				<real>0.38266518712043762</real>
				<key>Red Component</key>
				<real>0.35304740071296692</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35396462680000002</real>
				<key>Green Component</key>
				<real>0.74809849260000005</real>
				<key>Red Component</key>
				<real>0.70226675270000005</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36974489688873291</real>
				<key>Green Component</key>
				<real>0.71015834808349609</real>
				<key>Red Component</key>
				<real>0.89336264133453369</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69103837013244629</real>
				<key>Green Component</key>
				<real>0.56596899032592773</real>
				<key>Red Component</key>
				<real>0.43031883239746094</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67327117919921875</real>
				<key>Green Component</key>
				<real>0.49495330452919006</real>
				<key>Red Component</key>
				<real>0.63015031814575195</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70492839813232422</real>
				<key>Green Component</key>
				<real>0.74725800752639771</real>
				<key>Red Component</key>
				<real>0.49952495098114014</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71428978443145752</real>
				<key>Green Component</key>
				<real>0.72398024797439575</real>
				<key>Red Component</key>
				<real>0.7101062536239624</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.31372550129890442</real>
				<key>Red Component</key>
				<real>0.31372550129890442</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19629062712192535</real>
				<key>Green Component</key>
				<real>0.17900724709033966</real>
				<key>Red Component</key>
				<real>0.5527348518371582</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.097707755863666534</real>
				<key>Green Component</key>
				<real>0.092142701148986816</real>
				<key>Red Component</key>
				<real>0.086937598884105682</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13528014719486237</real>
				<key>Green Component</key>
				<real>0.12312769144773483</real>
				<key>Red Component</key>
				<real>0.11772145330905914</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13528014719486237</real>
				<key>Green Component</key>
				<real>0.12312769144773483</real>
				<key>Red Component</key>
				<real>0.11772145330905914</real>
			</dict>
		</dict>
	</dict>
	<key>Default Arrangement Name</key>
	<string>Current</string>
	<key>Default Bookmark Guid</key>
	<string>2044F3B9-487E-4E03-B812-992302A7C312</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<true/>
	<key>FocusFollowsMouse</key>
	<false/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xd-0x140000</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Text</key>
			<string>Maximize Active Pane</string>
		</dict>
		<key>0xf700-0x2c0000</key>
		<dict>
			<key>Action</key>
			<integer>55</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>20</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Text</key>
			<string>Move Divider Up</string>
		</dict>
		<key>0xf700-0x340000</key>
		<dict>
			<key>Action</key>
			<integer>20</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x2c0000</key>
		<dict>
			<key>Action</key>
			<integer>56</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>21</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Text</key>
			<string>Move Divider Down</string>
		</dict>
		<key>0xf701-0x340000</key>
		<dict>
			<key>Action</key>
			<integer>21</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x2c0000</key>
		<dict>
			<key>Action</key>
			<integer>53</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>18</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Text</key>
			<string>Move Divider Left</string>
		</dict>
		<key>0xf702-0x340000</key>
		<dict>
			<key>Action</key>
			<integer>18</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x2c0000</key>
		<dict>
			<key>Action</key>
			<integer>54</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>19</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Text</key>
			<string>Move Divider Right</string>
		</dict>
		<key>0xf703-0x340000</key>
		<dict>
			<key>Action</key>
			<integer>19</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf708-0x0</key>
		<dict>
			<key>Action</key>
			<integer>23</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<true/>
	<key>HideTabCloseButton</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>167</integer>
	<key>HotkeyCode</key>
	<integer>10</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>1048840</integer>
	<key>LeftCommand</key>
	<integer>7</integer>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>NSFontPanelAttributes</key>
	<string>1, 0</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/Dev/System/dotfiles/.iterm/prefs</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 459}</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSTableView Columns v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGNjdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK4HCA8aGxwdHh8gJjAxMlUkbnVsbNIJCgsOWk5TLm9iamVjdHNWJGNsYXNzogwN
	gAKACoAN0xAJChEVGVdOUy5rZXlzoxITFIADgASABaMWFxiABoAHgAiACVpJZGVudGlm
	aWVyVVdpZHRoVkhpZGRlblEwI0BowAAAAAAACNIhIiMkWiRjbGFzc25hbWVYJGNsYXNz
	ZXNcTlNEaWN0aW9uYXJ5oiMlWE5TT2JqZWN00xAJCicrGaMSExSAA4AEgAWjLC0YgAuA
	DIAIgAlRMSNAdCAAAAAAANIhIjM0Xk5TTXV0YWJsZUFycmF5ozM1JVdOU0FycmF5XxAP
	TlNLZXllZEFyY2hpdmVy0Tg5VUFycmF5gAEACAARABoAIwAtADIANwBGAEwAUQBcAGMA
	ZgBoAGoAbABzAHsAfwCBAIMAhQCJAIsAjQCPAJEAnACiAKkAqwC0ALUAugDFAM4A2wDe
	AOcA7gDyAPQA9gD4APwA/gEAAQIBBAEGAQ8BFAEjAScBLwFBAUQBSgAAAAAAAAIBAAAA
	AAAAADoAAAAAAAAAAAAAAAAAAAFM
	</data>
	<key>NSTableView Sort Ordering v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxARWiRjbGFz
	c25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRFhdVQXJyYXmAAQgRGiMtMjc7QUZRWFlbYGt0g4ePmKqt
	swAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 KeyBingingTable</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSFontPanel</key>
	<string>310 37 777 77 0 0 1280 800 </string>
	<key>NSWindow Frame Preferences</key>
	<string>806 983 606 456 0 0 3440 1440 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>2620 738 700 622 0 0 3440 1440 </string>
	<key>NSWindow Frame SessionsPreferences</key>
	<string>269 126 606 469 0 0 1280 800 </string>
	<key>NSWindow Frame SharedPreferences</key>
	<string>91 264 796 473 0 0 1280 800 </string>
	<key>NSWindow Frame UKCrashReporter</key>
	<string>20 20 1240 740 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>0 4 720 553 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>20 26 1240 728 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 10</key>
	<string>2225 46 1154 652 0 0 3440 1440 </string>
	<key>NSWindow Frame iTerm Window 11</key>
	<string>63 41 1154 698 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 12</key>
	<string>648 161 570 572 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 2</key>
	<string>0 117 720 530 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 3</key>
	<string>0 270 720 530 0 0 1280 800 </string>
	<key>NSWindow Frame iTerm Window 4</key>
	<string>1728 42 1650 1336 0 0 3440 1440 </string>
	<key>NSWindow Frame iTerm Window 5</key>
	<string>61 42 1650 1336 0 0 3440 1440 </string>
	<key>NSWindow Frame iTerm Window 6</key>
	<string>1728 42 1650 1336 0 0 3440 1440 </string>
	<key>NSWindow Frame iTerm Window 7</key>
	<string>1728 42 1650 1336 0 0 3440 1440 </string>
	<key>NSWindow Frame iTerm Window 8</key>
	<string>1728 42 1650 1336 0 0 3440 1440 </string>
	<key>NSWindow Frame iTerm Window 9</key>
	<string>63 42 3314 1336 0 0 3440 1440 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20179691910743713</real>
				<key>Green Component</key>
				<real>0.1818026602268219</real>
				<key>Red Component</key>
				<real>0.1665644645690918</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31569483879999999</real>
				<key>Green Component</key>
				<real>0.30211547020000001</real>
				<key>Red Component</key>
				<real>0.72003227469999997</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1934914291</real>
				<key>Green Component</key>
				<real>0.51726025340000004</real>
				<key>Red Component</key>
				<real>0.47279784079999998</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31311613319999998</real>
				<key>Green Component</key>
				<real>0.53968650100000004</real>
				<key>Red Component</key>
				<real>0.8995583653</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.53338390588760376</real>
				<key>Green Component</key>
				<real>0.420734703540802</real>
				<key>Red Component</key>
				<real>0.29605811834335327</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47512847185134888</real>
				<key>Green Component</key>
				<real>0.31322062015533447</real>
				<key>Red Component</key>
				<real>0.43185719847679138</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45474731922149658</real>
				<key>Green Component</key>
				<real>0.48341637849807739</real>
				<key>Red Component</key>
				<real>0.30198413133621216</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.41454979777336121</real>
				<key>Green Component</key>
				<real>0.38266518712043762</real>
				<key>Red Component</key>
				<real>0.35304740071296692</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35396462680000002</real>
				<key>Green Component</key>
				<real>0.74809849260000005</real>
				<key>Red Component</key>
				<real>0.70226675270000005</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36974489688873291</real>
				<key>Green Component</key>
				<real>0.71015834808349609</real>
				<key>Red Component</key>
				<real>0.89336264133453369</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69103837013244629</real>
				<key>Green Component</key>
				<real>0.56596899032592773</real>
				<key>Red Component</key>
				<real>0.43031883239746094</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67327117919921875</real>
				<key>Green Component</key>
				<real>0.49495330452919006</real>
				<key>Red Component</key>
				<real>0.63015031814575195</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70492839813232422</real>
				<key>Green Component</key>
				<real>0.74725800752639771</real>
				<key>Red Component</key>
				<real>0.49952495098114014</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71428978443145752</real>
				<key>Green Component</key>
				<real>0.72398024797439575</real>
				<key>Red Component</key>
				<real>0.7101062536239624</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.31372550129890442</real>
				<key>Red Component</key>
				<real>0.31372550129890442</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19629062712192535</real>
				<key>Green Component</key>
				<real>0.17900724709033966</real>
				<key>Red Component</key>
				<real>0.5527348518371582</real>
			</dict>
			<key>BM Growl</key>
			<false/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.097707755863666534</real>
				<key>Green Component</key>
				<real>0.092142701148986816</real>
				<key>Red Component</key>
				<real>0.086937598884105682</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.91000000000000003</real>
				<key>Red Component</key>
				<real>0.65000000000000002</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13528014719486237</real>
				<key>Green Component</key>
				<real>0.12312769144773483</real>
				<key>Red Component</key>
				<real>0.11772145330905914</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72798359394073486</real>
				<key>Green Component</key>
				<real>0.73781722784042358</real>
				<key>Red Component</key>
				<real>0.71933764219284058</real>
			</dict>
			<key>Guid</key>
			<string>2044F3B9-487E-4E03-B812-992302A7C312</string>
			<key>Horizontal Spacing</key>
			<real>0.99919404179216875</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.67800000000000005</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.27000000000000002</real>
				<key>Red Component</key>
				<real>0.023</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>SauceCodeProNerdFontComplete 11</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>SauceCodeProNerdFontComplete 14</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prevent Opening in a Tab</key>
			<true/>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.93333333333333335</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93333333333333335</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.29999999999999999</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.29999999999999999</real>
				<key>Red Component</key>
				<real>0.29999999999999999</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>editor</string>
				<key>editor</key>
				<string>com.github.atom</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<false/>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>0</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array/>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use HFS Plus Mapping</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>1</integer>
			<key>Working Directory</key>
			<string>/Users/Alex</string>
		</dict>
	</array>
	<key>NoSyncCommandHistoryHasEverBeenUsed</key>
	<true/>
	<key>NoSyncDoNotWarnBeforeMultilinePaste</key>
	<true/>
	<key>NoSyncDoNotWarnBeforeMultilinePaste_selection</key>
	<integer>0</integer>
	<key>NoSyncInstallationId</key>
	<string>60876457-363F-46CD-B616-F062498F254C</string>
	<key>NoSyncLastTipTime</key>
	<real>465571211.96450597</real>
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<true/>
	<key>NoSyncNeverRemindPrefsChangesLostForFile_selection</key>
	<integer>0</integer>
	<key>NoSyncPermissionToShowTip</key>
	<false/>
	<key>NoSyncTimeOfFirstLaunchOfVersionWithTip</key>
	<real>465571309.178563</real>
	<key>NoSyncTipsToNotShow</key>
	<array>
		<string>000</string>
		<string>0000</string>
		<string>0001</string>
		<string>0002</string>
		<string>0003</string>
		<string>0004</string>
		<string>0005</string>
		<string>0006</string>
		<string>0007</string>
		<string>0008</string>
		<string>0009</string>
		<string>0010</string>
		<string>0011</string>
		<string>0012</string>
		<string>0013</string>
		<string>0014</string>
		<string>0015</string>
		<string>0016</string>
		<string>0017</string>
		<string>0018</string>
		<string>0019</string>
		<string>0020</string>
		<string>0021</string>
		<string>0022</string>
		<string>0023</string>
		<string>0024</string>
		<string>0025</string>
		<string>0026</string>
		<string>0027</string>
		<string>0028</string>
		<string>0029</string>
		<string>0030</string>
		<string>0031</string>
		<string>0032</string>
		<string>0033</string>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<true/>
	<key>OpenTmuxWindowsIn</key>
	<integer>2</integer>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromSelectionPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/Alex/Dev/System/dotfiles/.iterm/prefs</string>
	<key>Print In Black And White</key>
	<true/>
	<key>QuitWhenAllWindowsClosed</key>
	<false/>
	<key>RunJobsInServers</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final.xml?shard=19</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2017-03-27T13:04:08Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>Secure Input</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.41782852564102568</real>
	<key>SwitchPaneModifier</key>
	<integer>6</integer>
	<key>SwitchTabModifier</key>
	<integer>4</integer>
	<key>SwitchWindowModifier</key>
	<integer>9</integer>
	<key>TabStyle</key>
	<integer>1</integer>
	<key>TabViewType</key>
	<integer>1</integer>
	<key>TerminalMargin</key>
	<integer>40</integer>
	<key>TerminalVMargin</key>
	<integer>40</integer>
	<key>UKCrashReporterLastCrashReportDate</key>
	<real>1490797952</real>
	<key>Window Arrangements</key>
	<dict/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findIgnoreCase_iTerm</key>
	<true/>
	<key>findRegex_iTerm</key>
	<false/>
	<key>iTerm Version</key>
	<string>3.1.beta.2</string>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
