target/
/.lsp/
/.clj-kondo/
/home/.config/zellij/plugins/**
/home/.config/shell/secrets.sh
/script/font/original/**/*
/script/font/patched/**/*
!/script/font/original/**/.gitkeep
!/script/font/patched/**/.gitkeep
