# Your keymap
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth

# ======= Bindings

'body':
  'f5': 'window:toggle-full-screen'
  'cmd-, k': 'settings-view:show-keybindings'
  'cmd-, p': 'settings-view:uninstall-packages'
  'cmd-, i': 'settings-view:install-packages-and-themes'

'.platform-darwin':
  'f1': 'tree-view:toggle'
  'cmd-\\': 'tree-view:toggle-focus'
  'cmd-r': 'fuzzy-finder:toggle-buffer-finder'
  'cmd-t': 'fuzzy-finder:toggle-file-finder'
  'cmd-ctrl-/': 'nuclide-diagnostics-ui:toggle-table'
  'cmd-ctrl-.': 'nuclide-test-runner:toggle-panel'

'.platform-darwin atom-workspace':
  'cmd-o': 'advanced-open-file:toggle'
  'cmd-ctrl-t': 'todo-show:find-in-project'
  'cmd-ctrl-c': 'color-picker:open'
  'cmd-m d': 'merge-conflicts:detect'
  'cmd-m n': 'merge-conflicts:next-unresolved'
  'cmd-m p': 'merge-conflicts:previous-unresolved'

'.advanced-open-file atom-text-editor':
  'cmd-enter': 'pane:split-right'
  'cmd-shift-enter': 'pane:split-down'

'.platform-darwin atom-text-editor':
  'ctrl-f2': 'unset!'
  'cmd-r': 'unset!'
  'cmd-ctrl-w': 'pane:close-other-items'
  'cmd-ctrl-p': 'command-palette:toggle'
  'cmd-ctrl-l': 'grammar-selector:show'

'.fuzzy-finder':
  'cmd-enter': 'pane:split-right'
  'cmd-shift-enter': 'pane:split-down'

'.platform-darwin .tree-view':
  'cmd-enter': 'tree-view:open-selected-entry-right'
  'cmd-shift-enter': 'tree-view:open-selected-entry-down'
  's': 'tree-view:open-selected-entry-right'
  'i': 'tree-view:open-selected-entry-down'
  'r': 'tree-view:rename'
  'd': 'tree-view:remove'
  'c': 'tree-view:duplicate'

'atom-workspace atom-text-editor:not([mini])':
  'f2': 'maximize-panes:maximize'

  'cmd-ctrl-up': 'window:focus-pane-above'
  'cmd-ctrl-right': 'window:focus-pane-on-right'
  'cmd-ctrl-down': 'window:focus-pane-below'
  'cmd-ctrl-left': 'window:focus-pane-on-left'

  'ctrl-alt-right': 'nuclide-move-item-to-available-pane:right'
  'ctrl-alt-left': 'nuclide-move-item-to-available-pane:left'
  'ctrl-alt-up': 'nuclide-move-item-to-available-pane:up'
  'ctrl-alt-down': 'nuclide-move-item-to-available-pane:down'

  'cmd-l s': 'set-syntax:Shell Script'
  'cmd-l j': 'set-syntax:Babel ES6 JavaScript'

  'cmd-ctrl-b': 'git-blame:toggle'

  'cmd-d': 'editor:duplicate-lines'
  'ctrl-up': 'vim-mode-plus:scroll-half-screen-up'
  'ctrl-down': 'vim-mode-plus:scroll-half-screen-down'
  'shift-alt-up': 'editor:move-line-up'
  'shift-alt-down': 'editor:move-line-down'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '=': 'editor:newline-below'
  '+': 'editor:newline-above'
  '\\': 'tree-view:reveal-active-file'
