'body':
  'f5': 'window:toggle-full-screen'
  'cmd-, c': 'settings-view:core'
  'cmd-, e': 'settings-view:editor'
  'cmd-, k': 'settings-view:show-keybindings'
  'cmd-, p': 'settings-view:uninstall-packages'
  'cmd-, t': 'settings-view:uninstall-themes'
  'cmd-, u': 'settings-view:check-for-package-updates'
  'cmd-, i': 'settings-view:install-packages-and-themes'

'.platform-darwin':
  'cmd-shift-r': 'unset!'

  'ctrl-cmd-e': 'tree-view:toggle'
  'cmd-\\': 'tree-view:toggle-focus'

  'cmd-r': 'fuzzy-finder:toggle-buffer-finder'
  'cmd-t': 'fuzzy-finder:toggle-file-finder'

  'cmd-f': 'find-and-replace:toggle'
  'ctrl-cmd-f': 'project-find:toggle'

  'ctrl-cmd-/': 'diagnostics:toggle-table'
  'ctrl-cmd-.': 'golang:toggle-panel'

  'ctrl-cmd-b': 'git-blame:toggle'

'.workspace':
  'ctrl-cmd-g': 'github:toggle-git-tab'
  'ctrl-cmd-h': 'github:toggle-github-tab'
  'ctrl-cmd-o': 'outline-view:toggle'

'.platform-darwin atom-workspace':
  'cmd-o': 'advanced-open-file:toggle'

  'ctrl-cmd-t': 'todo-show:find-in-project'
  'ctrl-cmd-c': 'color-picker:open'
  'ctrl-cmd-m': 'markdown-preview:toggle'

'.fuzzy-finder':
  'cmd-enter': 'pane:split-right'
  'cmd-shift-enter': 'pane:split-down'

'.platform-darwin .tree-view':
  'cmd-enter': 'tree-view:open-selected-entry-right'
  'cmd-shift-enter': 'tree-view:open-selected-entry-down'
  'r': 'tree-view:rename'
  'd': 'tree-view:remove'
  'c': 'tree-view:duplicate'

'.platform-darwin atom-text-editor':
  'ctrl-f2': 'unset!'
  'cmd-r': 'unset!'
  'cmd-g': 'unset!'
  'ctrl-cmd-g': 'unset!'
  'ctrl-cmd-m': 'unset!'
  'ctrl-alt-f': 'unset!'

  'ctrl-alt-q': 'pane:close'
  'ctrl-alt-w': 'pane:close-other-items'

  'ctrl-cmd-p': 'command-palette:toggle'
  'ctrl-cmd-l': 'grammar-selector:show'

  'cmd-shift-a': 'find-and-replace:select-all'
  'cmd-shift-b': 'bracket-matcher:select-inside-brackets'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-cmd-enter': 'maximize-panes:maximize'

  'ctrl-cmd-up': 'window:focus-pane-above'
  'ctrl-cmd-right': 'window:focus-pane-on-right'
  'ctrl-cmd-down': 'window:focus-pane-below'
  'ctrl-cmd-left': 'window:focus-pane-on-left'

  'ctrl-alt-right': 'pane:split-right-and-move-active-item'
  'ctrl-alt-left': 'pane:split-left-and-move-active-item'
  'ctrl-alt-up': 'pane:split-up-and-move-active-item'
  'ctrl-alt-down': 'pane:split-down-and-move-active-item'

  'ctrl-shift-alt-right': 'window:move-active-item-to-pane-on-right'
  'ctrl-shift-alt-left': 'window:move-active-item-to-pane-on-left'
  'ctrl-shift-alt-up': 'window:move-active-item-to-pane-above'
  'ctrl-shift-alt-down': 'window:move-active-item-to-pane-below'

  'ctrl-.': 'cursor-history:next'
  'ctrl-,': 'cursor-history:prev'

  'cmd-l s': 'set-syntax:Shell Script'
  'cmd-l j': 'set-syntax:Babel ES6 JavaScript'
  'cmd-l d': 'set-syntax:Dockerfile'

  'cmd-d': 'editor:duplicate-lines'
  'shift-up': 'vim-mode-plus:scroll-half-screen-up'
  'shift-down': 'vim-mode-plus:scroll-half-screen-down'
  'alt-up': 'editor:add-selection-above'
  'alt-down': 'editor:add-selection-below'
  'shift-alt-up': 'editor:move-line-up'
  'shift-alt-down': 'editor:move-line-down'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '=': 'editor:newline-below'
  '+': 'editor:newline-above'
  '\\': 'tree-view:reveal-active-file'
  ', w': 'core:save'

'.advanced-open-file atom-text-editor':
  'cmd-enter': 'pane:split-right'
  'cmd-shift-enter': 'pane:split-down'

'atom-text-editor[data-grammar~="reason"]:not([mini])':
  'cmd-shift-r': 'ide-reason:restart-all-servers'

'atom-text-editor[data-grammar~="rust"]:not([mini])':
  'cmd-shift-r': 'ide-rust:restart-all-language-servers'

'atom-text-editor[data-grammar~="go"]:not([mini])':
  'alt-u': 'golang:find-usage'
  'alt-i': 'golang:implements'
  'alt-r': 'golang:gorename'
