# ======= JavaScript

'.source.js':

  'console.log':
    'prefix': 'l'
    'body': 'console.log($1)'

  'const':
    'prefix': 'c'
    'body': 'const ${1:name} = ${0:value};'

  'import':
    'prefix': 'i'
    'body': 'import ${1:module} from \'${0:location}\';'

  'import type':
    'prefix': 'it'
    'body': 'import type { ${1:Type} } from \'${0:location}\';'

  'import react':
    'prefix': 'ir'
    'body': 'import React from \'react\';'

  'import react w/ Component':
    'prefix': 'irc'
    'body': 'import React, { Component } from \'react\';'

  'import immutable':
    'prefix': 'ii'
    'body': 'import Immutable from \'immutable\';'

  'import immutable Map':
    'prefix': 'iim'
    'body': 'import { Map } from \'immutable\';'

  'import immutable List':
    'prefix': 'iil'
    'body': 'import { List } from \'immutable\';'

  'import immutable List':
    'prefix': 'iis'
    'body': 'import { Set } from \'immutable\';'

  'import lodash':
    'prefix': 'il'
    'body': 'import _ from \'lodash/fp\';'

  'import classnames':
    'prefix': 'ic'
    'body': 'import classNames from \'classnames\';'

  'import styles':
    'prefix': 'is'
    'body': 'import styles from \'./styles.css\';'

  'require':
    'prefix': 'r'
    'body': 'const ${1:module} = require(\'${0:location}\');'

  'try/catch':
    'prefix': 'tc'
    'body': """
      try {
        ${1:expression}
      } catch (error) {
        ${0:// handle error...}
      }
    """

  'this.props':
    'prefix': 'tp'
    'body': 'this.props'

  'props':
    'prefix': 'p'
    'body': 'props'

  'this.context':
    'prefix': 'tc'
    'body': 'this.context'

  'this.state':
    'prefix': 'ts'
    'body': 'this.state'

  'this.setState':
    'prefix': 'tss'
    'body': 'this.setState({${1}});'

  'styles':
    'prefix': 's'
    'body': 'styles'

  'constructor':
    'prefix': 'cnstr'
    'body': """
      constructor(...args: Array<*>) {
        super(...args);

        ${1}
      }
    """

  'constructor':
    'prefix': 'cnstrp'
    'body': """
      constructor(props: Props, ...restArgs: Array<*>) {
        super(props, ...restArgs);

        ${1}
      }
    """

  'React.Component':
    'prefix': 'rc'
    'body': """
      /* @flow */

      import React, { Component } from 'react';


      type Props = {};

      export default class ${1:Component} extends Component {

        props: Props;

        render() {
          return (
            // jsx...
          );
        }

      }
    """

  'React.Functional.Component':
    'prefix': 'rfc'
    'body': """
      /* @flow */

      import React from 'react';


      const ${1:Component} = (props) => (
        // jsx...
      );


      export default ${1:Component};
    """

  'React.HOC':
    'prefix': 'rh'
    'body': """
      /* @flow */

      import React, { Component } from 'react';


      type Props = {};

      type NextProps = Props & State & Handlers;
      type NextComponent = (props: NextProps) => React.Element<*>;


      const ${1:withHOC} = (${2:NextComponent}: NextComponent) => class extends Component {

        props: Props;

        render() {
          return (
            <${2:NextComponent} />
          );
        }
      };

      export default ${1:withHOC};
    """

  'flow':
    'prefix': 'f'
    'body': """
      /* @flow */

    """

  'PropTypes.shape':
    'prefix': 'ptsh'
    'body': """
      PropTypes.shape({
        ${1:property}: ${0}
      }),
    """

  'PropTypes.shape.isRequired':
    'prefix': 'ptshr'
    'body': """
      PropTypes.shape({
        ${1:property}: pt${0}
      }).isRequired,
    """

  'PropTypes.bool':
    'prefix': 'ptb'
    'body': 'PropTypes.bool,'

  'PropTypes.bool.isRequired':
    'prefix': 'ptbr'
    'body': 'PropTypes.bool.isRequired,'

  'PropTypes.string':
    'prefix': 'pts'
    'body': 'PropTypes.string,'

  'PropTypes.string.isRequired':
    'prefix': 'ptsr'
    'body': 'PropTypes.string.isRequired,'

  'PropTypes.number':
    'prefix': 'ptn'
    'body': 'PropTypes.number,'

  'PropTypes.number.isRequired':
    'prefix': 'ptnr'
    'body': 'PropTypes.number.isRequired,'

  'PropTypes.array':
    'prefix': 'pta'
    'body': 'PropTypes.array,'

  'PropTypes.array.isRequired':
    'prefix': 'ptar'
    'body': 'PropTypes.array.isRequired,'

  'PropTypes.object':
    'prefix': 'pto'
    'body': 'PropTypes.object,'

  'PropTypes.object.isRequired':
    'prefix': 'ptor'
    'body': 'PropTypes.object.isRequired,'

  'PropTypes.func':
    'prefix': 'ptf'
    'body': 'PropTypes.func,'

  'PropTypes.func.isRequired':
    'prefix': 'ptfr'
    'body': 'PropTypes.func.isRequired,'

  'PropTypes.instanceOf':
    'prefix': 'pti'
    'body': 'PropTypes.instanceOf(${0}),'

  'PropTypes.instanceOf.isRequired':
    'prefix': 'ptir'
    'body': 'PropTypes.instanceOf(${0}).isRequired,'

  'PropTypes.oneOf':
    'prefix': 'ptoo'
    'body': 'PropTypes.oneOf([${0}]),'

  'PropTypes.oneOf.isRequired':
    'prefix': 'ptoor'
    'body': 'PropTypes.oneOf([${0}]).isRequired,'

  'PropTypes.oneOfType':
    'prefix': 'ptoot'
    'body': 'PropTypes.oneOfType([pt${0}]),'

  'PropTypes.oneOfType.isRequired':
    'prefix': 'ptootr'
    'body': 'PropTypes.oneOfType([pt${0}]).isRequired,'

  'PropTypes.arrayOf':
    'prefix': 'ptao'
    'body': 'PropTypes.arrayOf(pt${0}),'

  'PropTypes.arrayOf.isRequired':
    'prefix': 'ptaor'
    'body': 'PropTypes.arrayOf(pt${0}).isRequired,'

  'PropTypes.any':
    'prefix': 'ptany'
    'body': 'PropTypes.any,'

  'PropTypes.any.isRequired':
    'prefix': 'ptanyr'
    'body': 'PropTypes.any.isRequired,'

  'JSDoc':
    'prefix': '@@'
    'body': """
      /**
       * @desc ${1:Method description}
       *
       * @${0:smth}
       */
    """

  'JSDoc@param':
    'prefix': '@p'
    'body': '@param {${1:type}} ${2:name} ${0:- Note.}'

  'JSDoc@returns':
    'prefix': '@r'
    'body': '@returns {${1:type}} ${0:- Note.}'
