/* Stylesheet */

// Make tree view visible when pane is maximized
.tree-view-resizer[data-autohide] {
  z-index: 1000;
}

@panels-bg-color: #141516;
@panels-top-label-margins: 20px 20px 0;

atom-workspace {
  // Get rid of Nuclide's panels noise

  // Get rid of top border of Nuclide's bottom panel
  atom-panel.bottom {
    border-top: 0;
  }

  .nuclide-workspace-views-panel-wrapper {
    // I don't use these panels and they overlap editor's UI elements
    &.left,
    &.right {
      display: none;
    }

    // Get rid of a 4px line above status bar
    &.bottom {
      bottom: -4px;
    }
  }

  // Adjust modal styles
  .overlay,
  atom-panel.modal {
    background-color: @panels-bg-color;

    .tree-view-dialog label:first-child {
      margin: @panels-top-label-margins;
    }
  }

  .overlay > * > *,
  atom-panel.modal > * > * {
    &:not(.list-group) {
      margin: 20px;
    }

    &.info-message {
      margin: @panels-top-label-margins;
    }
  }

  .select-list ol.list-group li.two-lines .secondary-line,
  .select-list ol.list-group li.two-lines .secondary-line {
    color: inherit;

    .character-match {
      color: #fff;
    }
  }

  // Adjust nuclide status bar styles
  .footer .status-bar {
    border-top: 1px solid lighten(@panels-bg-color, 3%);
    background-color: @panels-bg-color;

    .highlight,
    .highlight-warning,
    .highlight-error {
      border-radius: 0;
      font-size: inherit;
    }

    .nuclide-diagnostics-status-bar-highlight {
      padding: 0 8px;
      background-color: transparent;

      .icon {
        display: none;
      }
    }

    .highlight-warning {
      border: 1px solid #de935f;
      background-color: #de935f;

      &:last-child {
        border-left: 0;
      }
    }

    .highlight-error {
      border: 1px solid #cc6666;
      background-color: #cc6666;
    }

    & > .flexbox-repaint-hack {
      padding-top: 0;

      .status-bar-left,
      .status-bar-right {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .nuclide-navigation-stack-tile {
          flex: initial;
        }
      }
    }
  }
}


@white: #e6e6bd;

atom-text-editor,
atom-text-editor.editor {
  color: @white;
  font-weight: 500; // Use Hermit medium

  .syntax--meta {
    color: @white;
  }

  // Make line numbers less visible
  .gutter {
    color: #666;
  }

  // Make thin guides less visible
  .indent-guide,
  .wrap-guide {
    box-shadow: inset 1px 0 0 #2a2a2a;
  }

  // Make selection visible
  .selection .region {
    background-color: rgba(255, 255, 255, .15);
  }

  // Remove little red arrow before removed lines
  .line-number.git-line-removed:before {
    border-left: none !important;
  }

  // Redefine some syntax colors
  .variable,
  .syntax--variable {
    color: #f0c674;
  }
}

// Adjust nuclide diagnostic message layout
.nuclide-datatip-overlay {
  .nuclide-datatip-container {
    .nuclide-datatip-content {
      .nuclide-diagnostics-datatip {
        padding: 0 10px 5px;
      }
    }
  }
}
.nuclide-datatip-overlay,
.nuclide-diagnostics-gutter-ui-popup {
  .nuclide-diagnostics-gutter-ui-popup-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 12px;
    background-color: rgba(204, 102, 102, .2);
  }

  .highlight-error {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 3px 5px;
    line-height: 1;
  }

  .btn-xs {
    display: inline-flex;
    align-self: center;
    padding: 6px 8px;
    height: auto;
    line-height: 1.1;
  }
}

.nuclide-navigation-stack-tile .nuclide-btn-group .btn {
  border: 0;
  border-radius: 0;
}


// Setup icons
.icon[data-name$="package.json"]:before { font-family: "Devicons"; content: "\e681"; }
.icon[data-name$=".js"]:before          { font-family: "Devicons"; content: "\e618"; }
.icon[data-name$=".jsx"]:before         { font-family: "Devicons"; content: "\e618"; }
.icon[data-name$=".spec.js"]:before     { font-family: "Octicons Regular"; content: "\f076"; }
.icon[data-name$=".spec.jsx"]:before    { font-family: "Octicons Regular"; content: "\f076"; }
.icon[data-name$=".css"]:before         { font-family: "Octicons Regular"; content: "\f0d1"; }
.icon[data-name$=".scss"]:before        { font-family: "Octicons Regular"; content: "\f0d1"; }
.icon[data-name$=".less"]:before        { font-family: "Octicons Regular"; content: "\f0d1"; }
