layout {
    tab name="terminal" {
        pane
        pane size="30%"
        pane size=1 borderless=true {
            // FIXME: Zellij wants absolute path only
            plugin location="file:/Users/Alex/.config/user/config/zellij/plugins/statusbar.wasm"
        }
    }
}
