{
    :devices {
        :macbook [{:vendor_id 1452 :product_id 835}]
    }

    :main [
        ;; !  | mandatory
        ;; #  | optional
        ;; C  | left_command
        ;; T  | left_control
        ;; O  | left_option
        ;; S  | left_shift
        ;; F  | fn
        ;; Q  | right_command
        ;; W  | right_control
        ;; E  | right_option
        ;; R  | right_shift
        ;; P  | caps_lock
        ;; !! | mandatory hyper
        ;; ## | optional any

        ;; !CTSequal_sign  | mandatory Cmd Ctrl Shift = (or Cmd Ctrl +)
        ;; !O#Sright_arrow | mandatory Opt optional Shift right_arrow

        ;; Karabiner definition of mandatory and optional
        ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

        ;; Goku keys
        ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj

        {
            :des "Macbook keyboard configuration"
            :rules [
                :macbook

                [{:key :f1} {:ckey :display_brightness_decrement}]
                [{:key :f2} {:ckey :display_brightness_increment}]
                ; ... apple_vendor_keyboard_key_code is not supported?
                [{:key :f7} {:ckey :rewind}]
                [{:key :f8} {:ckey :play_or_pause}]
                [{:key :f9} {:ckey :fastforward}]
                [{:key :f10} {:ckey :mute}]
                [{:key :f11} {:ckey :volume_decrement}]
                [{:key :f12} {:ckey :volume_increment}]
            ]
        }
    ]
}
