layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // FIXME: Zellij wants absolute path only
            plugin location="file:/Users/Alex/.config/user/cfg/zellij/plugins/statusbar.wasm"
        }
    }

    tab name="editor" focus=true {
        pane borderless=true
    }
    tab name="terminal" {
        pane
        pane size="20%"
    }
}

keybinds {
    locked {
        bind "Insert" { GoToTab 2; SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Insert" { GoToTab 1; SwitchToMode "Locked"; }
    }
}
