keybinds clear-defaults=true {
    shared {
        bind "Ctrl d" { Detach; }
        bind "Ctrl q" { Quit; }
    }

    shared_except "normal" "locked" "search" "scroll" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_among "search" "scroll" {
        bind "Esc" { ScrollToBottom; SwitchToMode "Normal"; }
    }
    shared_except "locked" "pane"   {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "locked" "tab"   {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    // shared_except "locked" "move"   {
    //    bind "Ctrl m" { SwitchToMode "Move"; }
    // }
    shared_except "locked" "resize" {
        bind "Ctrl r" { SwitchToMode "Resize"; }
    }
    shared_except "entersearch" "locked" {
        bind "Ctrl f" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
    shared_except "locked" "scroll" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }

    shared_except "locked" {
        bind "Ctrl w" { CloseFocus; SwitchToMode "Normal"; }
        bind "Ctrl n" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "Ctrl h" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "Ctrl g" { FocusNextPane; }
        bind "Ctrl z" { ToggleFocusFullscreen; SwitchToMode "Normal"; } // "Ctrl m" remapped via Karabiner
        bind "Ctrl o" { ToggleFloatingPanes; }
        bind "Ctrl b" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt Down" { MoveFocus "Down"; }
        bind "Alt Up" { MoveFocus "Up"; }
    }

    normal {
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }

    resize {
        bind "d" { Resize "Left"; }
        bind "h" { Resize "Down"; }
        bind "t" { Resize "Up"; }
        bind "n" { Resize "Right"; }
        bind "Up" { Resize "Increase"; }
        bind "Down" { Resize "Decrease"; }
    }
    pane {
        bind "h" { MovePane "Down"; }
        bind "t" { MovePane "Up"; }
        bind "n" { MovePane "Right"; }
        bind "d" { MovePane "Left"; }
        bind "Down" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "Up" { NewPane "Up"; SwitchToMode "Normal"; }
        bind "Right" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "Left" { NewPane "Left"; SwitchToMode "Normal"; }
        bind "g" { SwitchFocus; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "m" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "b" { TogglePaneFrames; SwitchToMode "Normal"; }
        // bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        // bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        // bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    // move {
    //     bind "Tab" { MovePane; }
    //     bind "d" "Left" { MovePane "Left"; }
    //     bind "h" "Down" { MovePane "Down"; }
    //     bind "t" "Up" { MovePane "Up"; }
    //     bind "n" "Right" { MovePane "Right"; }
    // }
    tab {
        bind "d" { GoToPreviousTab; }
        bind "n" { GoToNextTab; }
        bind "Left" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Right" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Ctrl n" { NewTab; SwitchToMode "Normal"; }
        bind "Ctrl r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Ctrl x" { CloseTab; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }
    scroll {
        // bind "e" { EditScrollback; SwitchToMode "Normal"; }
        // bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        // bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "t" { ScrollUp; }
        bind "h" { ScrollDown; }
        bind "Up" { HalfPageScrollUp; }
        bind "Down" { HalfPageScrollDown; }
        // bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        // bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    search {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "t" { ScrollUp; }
        bind "h" { ScrollDown; }
        bind "Up" { HalfPageScrollUp; }
        bind "Down" { HalfPageScrollDown; }
        // bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        // bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Search"; SearchToggleOption "CaseSensitivity"; }
    }
    renametab {
        // bind "Ctrl c" { SwitchToMode "Normal"; }
        // bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        // bind "Ctrl c" { SwitchToMode "Normal"; }
        // bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    session {
        // bind "Ctrl o" { SwitchToMode "Normal"; }
        // bind "Ctrl s" { SwitchToMode "Scroll"; }
        // bind "d" { Detach; }
    }
    tmux {
        // bind "[" { SwitchToMode "Scroll"; }
        // bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
        // bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        // bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        // bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        // bind "c" { NewTab; SwitchToMode "Normal"; }
        // bind "," { SwitchToMode "RenameTab"; }
        // bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        // bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        // bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        // bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        // bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        // bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        // bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        // bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        // bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        // bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        // bind "o" { FocusNextPane; }
        // bind "d" { Detach; }
    }
    shared_except "resize" "locked" {
        // bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "session" "locked" {
        // bind "Ctrl o" { SwitchToMode "Session"; }
    }
    shared_except "move" "locked" {
        // bind "Ctrl h" { SwitchToMode "Move"; }
    }
    shared_except "tmux" "locked" {
        // bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
on_force_close "detach"

//  Send a request r a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
simplified_ui false

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
pane_frames true

// Choose the theme that is specified in the themes section.
// Default: default
theme "default"

// The name of the default layout to load on startup
// Default: "default"
default_layout "terminal"

// Choose the mode that zellij uses when starting up.
// Default: normal
default_mode "normal"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
mouse_mode true

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
scroll_buffer_size 100000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
copy_command "pbcopy"                        // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
copy_clipboard "system"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
copy_on_select true

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
