# ===== Shell
alias install="$HOME/Dev/System/dotfiles/install.sh"

[[ -n $BASH_VERSION ]] && alias reload="source ~/.bashrc"
[[ -n $ZSH_VERSION ]]  && alias reload="source ~/.zshrc"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

[[ -n $BASH_VERSION ]] && alias ~="cd ~"

alias dev="cd ~/Dev"
alias pro="cd ~/Dev/Projects"
alias sys="cd ~/Dev/System"
alias libs="cd ~/Dev/Libs"
alias sand="cd ~/Dev/Sandboxes"

alias fng="cd ~/Dev/Projects/shakacode.com/fng"
alias mnm="cd ~/Dev/Projects/minima.pro/minima"
alias dots="cd ~/Dev/System/dotfiles"

alias hosts="sudo $EDITOR /etc/hosts"

# Listings
if ls --color > /dev/null 2>&1   # GNU `ls`
then
  colorflag="--color"
else                             # OSX `ls`
  colorflag="-G"
fi

alias lsa="ls -lhFa ${colorflag}"
alias lsv="ls -lhF ${colorflag}"
alias lsd="ls -lhF ${colorflag} | grep --color=never '^d'"

# General
alias rmrf="rm -rf"
alias hg="history | grep "

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"
alias netcfg="sudo ifconfig"
alias netrst="sudo ifconfig en0 down; sudo route flush; sudo ifconfig en0 up;"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Remove all DS_Store files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Restart windows manager
alias wmrst="brew services restart chunkwm && brew services restart khd"

# ===== Homebrew
alias b="brew "
alias bd="brew doctor"
alias bup="brew update"
alias bo="brew outdated"
alias bcl="brew cleanup"
alias binfo="brew info "
alias bi="brew install "
alias bls="brew list "
alias bupg="brew upgrade "
alias bun="brew uninstall "

alias bs="brew services "
alias bsls="brew services list"
alias bsrun="brew services run "
alias bsrst="brew services restart "

# ===== Docker
alias d="docker "

alias dps="docker ps "
alias dpsa="docker ps -a "
alias dsa='docker container stop $(docker ps -a -q)'

alias di="docker image "
alias dils="docker image ls "
alias dirm="docker image rm "
alias dipr="docker image prune "

alias dct="docker container "
alias dctls="docker container ls "
alias dctrm="docker container rm "
alias dctpr="docker container prune "

alias dv="docker volume "
alias dvls="docker volume ls "
alias dvrm="docker volume rm "
alias dvpr="docker volume prune "

alias dn="docker network "
alias dnls="docker network ls "
alias dnrm="docker network rm "
alias dnpr="docker network prune "

alias dspr="docker system prune "
alias dspra="docker system prune -a"

dls() {
  echo "--- Images:\n"
  docker image ls
  echo "\n\n--- Containers:\n"
  docker container ls
  echo "\n\n--- Volumes:\n"
  docker volume ls
  echo "\n\n--- Networks:\n"
  docker network ls
}

alias dc="docker-compose "
alias dcd="docker-compose -f docker-compose.development.yml "
alias dcp="docker-compose -f docker-compose.production.yml "
alias dcup="docker-compose up --build"
alias dcdup="dcd up --build"
alias dcpup="dcp up --build -d"
dc-shell() { docker-compose exec $@ /bin/bash; }
dc-run-shell() { docker-compose run --rm $@ /bin/bash; }
dcd-shell() { docker-compose -f docker-compose.development.yml exec $@ /bin/bash; }
dcd-run-shell() { docker-compose -f docker-compose.development.yml run --rm $@ /bin/bash; }
dcp-shell() { docker-compose -f docker-compose.production.yml exec $@ /bin/bash; }
dcp-run-shell() { docker-compose -f docker-compose.production.yml run --rm $@ /bin/bash; }

alias dm="docker-machine "
alias dma="docker-machine active"
alias dmls="docker-machine ls "
alias dmre="docker-machine restart "
alias dmrm="docker-machine rm "
alias dmscp="docker-machine scp "
dm-blog() { eval "$(docker-machine env alexfedoseev.com)"; }
dm-ssh() {
  MACHINE="$(docker-machine active)"
  docker-machine ssh $MACHINE
}
dmu() { eval "$(docker-machine env -u)"; }

# ===== Git
alias g="git "

alias gs="git status "
alias ga="git add "
alias gap="git add -p "
alias gb="git branch "
alias gdm="git dm"
alias gc="git commit "
alias gcm="git commit -m "
alias gca="git commit --amend --reuse-message=HEAD"
alias gcam="git commit --amend"
alias gcu="git reset HEAD~"
alias gfr="git checkout HEAD -- "
alias gd="git diff "
alias gdc="git diff --cached "
alias gp="git push "
alias gpf="git push --force-with-lease"
alias gpu="git push -u origin HEAD"
alias gpt="git push --tags"
alias gprq="git add . && git commit --amend --reuse-message=HEAD && git push --force-with-lease"
alias gco="git checkout "
alias gcob="git checkout -b "
alias gcom="git checkout master"
alias gup="git pull --rebase --prune"
alias grau="git remote add upstream "
alias gf="git fetch "
alias gfu="git fetch upstream"
alias gm="git merge "
alias gmum="git merge upstream/master"
alias gr="git rebase "
alias grm="git rebase master"
alias grc="git rebase --continue"
alias gra="git rebase --abort"
alias grs="git rebase --skip"
alias glc="git diff --name-only --diff-filter=U"
alias gri="git irebase "
alias gcp="git cherry-pick "
alias gcpc="git cherry-pick --continue"
alias gcpa="git cherry-pick --abort"
alias gcpq="git cherry-pick --quit"
alias grst="git reset "
alias grsthard="git reset --hard HEAD"
alias gsh="git stash"
alias gshl="git stash list"
alias gshp="git stash pop "
alias gh="git history"
alias ghg="gh --graph"
alias gt="git tag "
alias gta="git tag -a "
alias gsm="git submodule "
alias gsma="git submodule add -b master "
alias gsmu="git submodule update --remote --merge "
alias gpsc="git push --recurse-submodules=check "
alias gpsd="git push --recurse-submodules=on-demand "

[[ -n $BASH_VERSION ]] && __git_complete gb _git_branch
[[ -n $BASH_VERSION ]] && __git_complete go _git_checkout

# ===== Go
alias gor="go run "
alias gob="go build "

# ===== Node
alias y="yarn "

alias ys="yarn start "
alias yr="yarn run "
alias yrt="yarn run test"
alias yrb="yarn run build"
alias yrp="yarn run prod"
alias yrl="yarn run lint"
alias yrlj="yarn run lint:js"
alias yrlc="yarn run lint:css"
alias yrf="yarn run flow"
alias yrv="yarn run validate"
alias yrr="yarn run release -- --tag=latest"
alias yrrn="yarn run release -- --tag=next"

alias yi="yarn add --exact "
alias yid="yarn add --dev --exact "
alias yrm="yarn remove "

alias yo="yarn outdated"
alias yup="yarn upgrade-interactive --exact --latest"

alias yg="yarn global "
alias ygls="yarn global ls"

alias yar="rm -rf node_modules && yarn"
alias yarr="rm -rf node_modules && yarn cache clean && yarn"

alias ns="npm start"
alias nt="npm test"
alias nr="npm run "
alias nrb="npm run build"
alias nrp="npm run prod"
alias nrl="npm run lint"
alias nrf="npm run flow"
alias ni="npm install "
alias nis="npm install --save "
alias nid="npm install --save-dev --save-exact "
alias nrs="npm remove --save "
alias nrd="npm remove --save-dev "
alias nsw="npm shrinkwrap "
alias nfuck="rm -rf node_modules && npm cache clean && npm install"
alias no="npm outdated"
alias nlg="npm ls -g --depth=0"


# ===== Ruby
alias rr="rbenv rehash"

# ===== Vim
alias v="vim "

# ===== m
alias m="$HOME/Dev/Projects/minima/minima/target/release/m"

# ===== Scripts
alias sddbm="script/docker/db:migrate"
alias sddbr="script/docker/db:reset"
alias sdrd="script/docker/run:dev"
alias sdrn="script/docker/run:nps"
alias sdrs="script/docker/run:storybook"
alias sdu="script/docker/update"

alias ss="scripts/start"
alias sup="scripts/update"
alias ssetup="scripts/setup"
alias sddb="scripts/docker:development:build"
alias sdpb="scripts/docker:production:build"
alias ssdep="scripts/server:dep "
alias ssdepa="scripts/server:dep ensure -add "
alias sdb="scripts/db "
alias sdbm="scripts/db migrate "
alias sdbrb="scripts/db rollback "
alias sdbmn="scripts/db migration "
alias sdbrst="scripts/db reset "
alias scy="scripts/client:yarn "
alias scya="scripts/client:yarn:add "
alias scyad="scripts/client:yarn:add:dev "
alias scyup="scripts/client:yarn:up"
alias scm="scripts/client:make "
