# ===== Shell
alias ish="$HOME/Dev/System/dotfiles/install.sh"

[[ -n $BASH_VERSION ]] && alias reload="source ~/.bashrc"
[[ -n $ZSH_VERSION ]]  && alias reload="source ~/.zshrc"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

[[ -n $BASH_VERSION ]] && alias ~="cd ~"

alias dev="cd ~/Dev"
alias pro="cd ~/Dev/Projects"
alias sys="cd ~/Dev/System"
alias libs="cd ~/Dev/Libs"
alias sand="cd ~/Dev/Sandboxes"

alias fng="cd ~/Dev/Projects/shakacode.com/fng"
alias mnm="cd ~/Dev/Projects/minima.pro/minima"
alias dots="cd ~/Dev/System/dotfiles"

alias hosts="sudo $EDITOR /etc/hosts"

# Listings
if ls --color > /dev/null 2>&1   # GNU `ls`
then
  colorflag="--color"
else                             # OSX `ls`
  colorflag="-G"
fi

alias lsa="ls -lhFa ${colorflag}"
alias lsv="ls -lhF ${colorflag}"
alias lsd="ls -lhF ${colorflag} | grep --color=never '^d'"

# General
alias rmrf="rm -rf"
alias hg="history | grep "

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"
alias netcfg="sudo ifconfig"
alias netrst="sudo ifconfig en0 down; sudo route flush; sudo ifconfig en0 up;"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Remove all DS_Store files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"


# ===== Homebrew
alias b="brew "
alias bd="brew doctor"
alias bup="brew update"
alias bo="brew outdated"
alias bcl="brew cleanup"
alias binfo="brew info "
alias bi="brew install "
alias bls="brew list "
alias bupg="brew upgrade "
alias bun="brew uninstall "

alias bs="brew services "
alias bsls="brew services list"
alias bsrun="brew services run "
alias bsrst="brew services restart "


# ===== Homebrew Cask
alias bc="brew cask "
alias bcd="brew cask doctor"
alias bccl="brew cask cleanup"
alias bcinfo="brew cask info "
alias bci="brew cask install "
alias bcls="brew cask list "
alias bcs="brew cask search "
alias bcun="brew cask uninstall "


# ===== Docker
alias d="docker "
alias dps="docker ps"
alias dpsa="docker ps -a"
alias ds="docker stop "
alias dsa='docker stop $(docker ps -a -q)'
alias di="docker images"
alias dpr="docker image prune -f && docker volume prune -f && docker network prune -f"
alias dspr="docker system prune"
alias drm="docker rm "
alias drmi="docker rmi "

alias dc="docker-compose "
alias dcd="docker-compose -f docker-compose.dev.yml "
alias dcp="docker-compose -f docker-compose.prod.yml "
alias dcup="docker-compose up --build"
alias dcdup="dcd up --build"
alias dcpup="dcp up --build -d"
dc-exec() { docker-compose exec $@ /bin/bash; }
dc-exec-dev() { docker-compose -f docker-compose.dev.yml exec $@ /bin/bash; }
dc-exec-prod() { docker-compose -f docker-compose.prod.yml exec $@ /bin/bash; }

alias dm="docker-machine "
alias dma="docker-machine active"
alias dmls="docker-machine ls"
alias dmre="docker-machine restart "
alias dmrm="docker-machine rm "
alias dmscp="docker-machine scp "
dm-blog() { eval "$(docker-machine env alexfedoseev.com)"; }
dmssh() {
  MACHINE="$(docker-machine active)"
  docker-machine ssh $MACHINE
}
dmu() { eval "$(docker-machine env -u)"; }


# ===== Git
alias g="git "

alias gs="git status "
alias ga="git add "
alias gap="git add -p "
alias gb="git branch "
alias gdm="git dm"
alias gc="git commit "
alias gcm="git commit -m "
alias gca="git commit --amend --reuse-message=HEAD"
alias gcam="git commit --amend"
alias gcu="git reset HEAD~"
alias gfr="git checkout HEAD -- "
alias gd="git diff "
alias gdc="git diff --cached "
alias gp="git push "
alias gpf="git push --force-with-lease"
alias gpu="git push -u origin HEAD"
alias gpt="git push --tags"
alias gprq="git add . && git commit --amend --reuse-message=HEAD && git push --force-with-lease"
alias go="git checkout "
alias gob="git checkout -b "
alias gu="git pull --rebase --prune"
alias gf="git fetch "
alias gfu="git fetch upstream"
alias gm="git merge "
alias gmum="git merge upstream/master"
alias gr="git rebase "
alias grm="git rebase master"
alias grc="git rebase --continue"
alias gra="git rebase --abort"
alias grs="git rebase --skip"
alias glc="git diff --name-only --diff-filter=U"
alias gri="git irebase "
alias gcp="git cherry-pick "
alias gcpc="git cherry-pick --continue"
alias gcpa="git cherry-pick --abort"
alias gcpq="git cherry-pick --quit"
alias grst="git reset "
alias grsthard="git reset --hard HEAD"
alias gsh="git stash"
alias gshl="git stash list"
alias gshp="git stash pop "
alias gh="git history"
alias ghg="gh --graph"
alias gt="git tag "
alias gta="git tag -a "
alias gsm="git submodule "
alias gsma="git submodule add -b master "
alias gsmu="git submodule update --remote --merge "
alias gpsc="git push --recurse-submodules=check "
alias gpsd="git push --recurse-submodules=on-demand "

[[ -n $BASH_VERSION ]] && __git_complete gb _git_branch
[[ -n $BASH_VERSION ]] && __git_complete go _git_checkout


# ===== kwm & khd
alias k="kwmc "
alias krst="brew services restart kwm && brew services restart khd"

alias 211="kwmc tree restore 2-rows--medium"
alias 212="kwmc tree restore 2-rows--large"
alias 221="kwmc tree restore 2-cols--medium"


# ===== Node
alias y="yarn "

alias ys="yarn start"
alias yr="yarn run "
alias yrt="yarn run test"
alias yrb="yarn run build"
alias yrp="yarn run prod"
alias yrl="yarn run lint"
alias yrlj="yarn run lint:js"
alias yrlc="yarn run lint:css"
alias yrf="yarn run flow"
alias yrv="yarn run validate"
alias yrr="yarn run release -- --tag=latest"
alias yrrn="yarn run release -- --tag=next"

alias yi="yarn add --exact "
alias yid="yarn add --dev --exact "
alias yrm="yarn remove "

alias yod="yarn outdated"
alias yup="yarn upgrade-interactive --exact"

alias yg="yarn global "
alias ygls="yarn global ls"

alias yar="rm -rf node_modules && yarn"
alias yarr="rm -rf node_modules && yarn cache clean && yarn"

alias ns="npm start"
alias nt="npm test"
alias nr="npm run "
alias nrb="npm run build"
alias nrp="npm run prod"
alias nrl="npm run lint"
alias nrf="npm run flow"
alias ni="npm install "
alias nis="npm install --save "
alias nid="npm install --save-dev --save-exact "
alias nrs="npm remove --save "
alias nrd="npm remove --save-dev "
alias nsw="npm shrinkwrap "
alias nfuck="rm -rf node_modules && npm cache clean && npm install"
alias no="npm outdated"
alias nlg="npm ls -g --depth=0"


# ===== Rails
alias rs="rails server "
alias rc="rails console "

alias ri="bundle install "

alias rr="rake routes"
alias rdbm="rake db:migrate"
alias rdbr="rake db:reset"


# ===== Ruby
alias rl="rvm list"
alias rlk="rvm list known"

alias gems="gem list"
alias gemi="gem install "
alias gemu="gem uninstall "

alias rgl="rvm gemset list"
alias rgc="rvm gemset create "
alias rgd="rvm gemset delete "
alias rge="rvm gemset empty "


# ===== tmux
alias t="tmux "
alias tns="tmux new -s "
alias ta="tmux attach -t "
alias tks="tmux kill-session -t "
alias tgl="tmux list-windows"

alias ts="tmuxinator start "
alias tsapp="tmuxinator start app "


# ===== Vim
alias v="vim "
