# Set locale
export LANG=en_US.UTF-8

# Set vim as the default editor
export EDITOR="vim"
export VISUAL=$EDITOR

# Set terminal type
export TERM="xterm-256color"

# Set colors for `ls` command
export CLICOLOR=1
# OSX
export LSCOLORS="gxfxcxdxbxegedabagacad"
# GNU
export LS_COLORS="di=36:ln=35;40:so=32;40:pi=33;40:ex=31:bd=34;46:cd=34;43:su=0;41:sg=0;46:tw=0;42:ow=0;43:"

export DISABLE_AUTO_TITLE="true"

# Set history file
if [[ -n $BASH_VERSION ]]; then
  export HISTFILE="$HOME/.bash_history"
elif [[ -n $ZSH_VERSION ]]; then
  export HISTFILE="$HOME/.zsh_history"
fi

# Set history size
export HISTSIZE=10000
export SAVEHIST=10000

# Ruby
eval "$(rbenv init -)"

# Rust
export CARGO="$HOME/.cargo"
export LIBPQ="/usr/local/opt/libpq" # diesel needs this

# Go
export GOROOT="/usr/local/opt/go/libexec"

# Swift
export SWIFT="/Library/Developer/Toolchains/swift-latest.xctoolchain"

# Android
export ANDROID_HOME="$HOME/Library/Android/sdk"

# PATH
export PATH=$LIBPQ/bin:$PATH
export PATH=$SWIFT/usr/bin:$PATH
export PATH=$GOROOT/bin:$PATH
export PATH=$CARGO/bin:$PATH
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
