# `a` with no arguments opens the current directory in Atom Editor,
# otherwise opens the given location
function a() {
  if [[ $# -eq 0 ]]; then
    atom .
  else
    atom $@
  fi
}

# `l` with no arguments lists contents of the current directory via `tree`,
# otherwise lists contents of given directory
function l() {
  if [[ $# -eq 0 ]]; then
    tree -a -L 1 .
  else
    tree -a -L 1 $@
  fi
}

# `o` with no arguments opens current folder in Finder,
# otherwise selects given item in Finder
function o() {
  if [[ $# -eq 0 ]]; then
    open -R ./$(ls | sort -n | head -1)
  else
    open -R $@
  fi
}

# `p 3000` will print listners of port 3000
function p() {
  lsof -n -i:$@ | grep LISTEN
}

# [ currently handled by NERDTree ]
# `v` with no arguments opens the current directory in Vim,
# otherwise opens the given location
# function v() {
#   if [[ $# -eq 0 ]]; then
#     vim .
#   else
#     vim $@
#   fi
# }

# `w` with no arguments lists all shell aliases,
# otherwise lists aliases, that start with the given chars
function w() {
  if [[ $# -eq 0 ]]; then
    alias
  else
    alias | grep "^$@"
  fi
}

# Clears output w/o new line being added by PROMPT
function x() {
  export PROMPT_ADD_NEW_LINE="false"
  clear
}

# Create a new directory and enter it
function mkd() {
  mkdir -p $@ && cd $_
}

# `ruby-up 2.0.0` will update ruby to v2.0.0 using rvm
function ruby-up() {
  rvm get stable && \
  rvm install ruby-$@ --disable-binary && \
  rvm --default use $@ && \
  gem install bundler && \
  gem install foreman
}
